<!DOCTYPE html>

<head>
  <title>Weetbix</title>
  <link href="/static/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
  <script>
    window.monorailHostname = '{{.MonorailHostname}}';
    window.fullName = '{{.UserName}}';
    window.email = '{{.UserEmail}}';
    window.avatar = '{{.UserAvatar}}';
    window.logoutUrl = '{{.LogoutURL}}';
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R5K0ZJ8NMC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R5K0ZJ8NMC');
  </script>
</head>

<body>
  <div id="app-root"></div>
  <div id="modal-root"></div>
  <script src="/static/main.js"></script>
</body>