/**
* Copyright 2022 The Chromium Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
 */

.codeblock {
  display: inline-block;
  padding: 20px 14px;
  margin: 0;
  font-family: monospace;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  background-color: var(--block-background-color);
  border: solid 1px var(--divider-color);
}
